.text {
    font-size: 6vw;
    position: relative;
    z-index: 0;
    margin: auto;
    color: var(--color-100);
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}