.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.username {
    margin-left: auto;
}
.sp {
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: "Knight Warrior", sans-serif;
}