@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
  font-family: 'Knight Warrior';
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url('../public/KnightWarrior-w16n8.otf') format('opentype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Knight Warrior", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
  background-image: url("../public/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  --color-100: #e5e9f4;
  --color-200: #d0d9ed;
  --color-300: #b0c0e0;
  --color-text: #9cb6dd;
  --color-500: #839dd1; 
  --color-600: #6a7fc1; 
  --color-700: #6374ae; 
  --color-800: #4a5989; 
  --color-900: #414e6e; 
  --tg-theme-text-color: #f9f9f9;
  --tg-theme-button-text-color: #f9f9f9;
  --tg-theme-button-color: #356169;
  color: var(--tg-theme-text-color);
}
