.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}
.footer {
    position: fixed;
    left: 5%;
    bottom: 10px;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    background-color: tomato;
    
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: #ffffff;
    
    border-left: 0 solid #00ff99;
    color: #000;

    text-align: center;
}

.grid {
    justify-self: center;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(4, auto);
    -ms-grid-template-columns: repeat(4, auto);
    height: 100%;
}
.ugrid {
    
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 3px solid black;
}