.footer {
    position: fixed;
    left: 5%;
    bottom: 20px;
    width: 90%;
    height: 10%;
    border-radius: 15px;
    
    -webkit-text-fill-color: unset;
    -webkit-text-stroke: 1px var(--color-100);
    background: var(--color-600);
    border: 2px solid var(--color-700);
    box-shadow: var(--color-800) 0px 3px 0px 0px;
    
    color: var(--color-100);
    text-align: center;
}
.pid-chlen {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Full viewport height */
}
.chlen {
    height: 300px;
    transition: transform 0.05s;
}
.chlen:active {
    transform: scale(0.95);
}

.grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(7, auto);
    -ms-grid-template-columns: repeat(7, auto);
    height: 100%;
    text-align: center;
    padding: 10px;
}
.vl {
    width: 8px;
    border-right: 2px solid rgba(43, 69, 34, 0.3);
    height: 100%;
}
span.ugrid {
    margin: auto;
}
.sp {
    font-size: 3vw;
}