.footer {
    position: fixed;
    left: 5%;
    bottom: 20px;
    width: 90%;
    height: 10%;
    line-height: 10%;
    border-radius: 15px;
    
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color: var(--color-900);
    
    color: var(--color-100);
    text-align: center;
}

.grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(4, auto);
    -ms-grid-template-columns: repeat(4, auto);
    height: 100%;
    text-align: center;
    padding: 10px;
}